h1 {
	text-align: center;
	font-size: 80px;
	font-family: Arial;
	background: -webkit-linear-gradient(#00f2ff, #7000ff);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent
}

.center {
	text-align: center;
}

.box {
	background-color: #121212;
	border: 2px solid #1d1d1d;
	padding: 20px;
	border-radius: 25px;
	margin: 20px auto;
	max-width: 3000px;
	width: 90%;
}

p {
	color: white;
	font-family: Arial;
}

body {
	background-color: #262626;
}

#bold {
	text-align: center;
	color: white;
	font-family: Arial;
	font-size: 24px;
}

.file-btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 98%;
	padding: 12px;
	border-radius: 12px;
	background: rgba(255, 255, 255, 0.05);
	border: 1px solid rgba(255, 255, 255, 0.1);
	color: #00f2ff;
	font-weight: 600;
	cursor: pointer;
}

#btn {
	border-radius: 12px;
	border: 1px solid rgba(255, 255, 255, 0.1);
	background-color: rgba(255, 255, 255, 0.05);
	color: #00f2ff;
	width: 100%;
	height: 100px;
	font-weight: 600;
	font-size: 24px;
	cursor: pointer;
}

#copyButton {
	border-radius: 12px;
	border: 1px solid rgba(255, 255, 255, 0.1);
	background-color: rgba(255, 255, 255, 0.05);
	color: #00f2ff;
	width: 25%;
	height: 125px;
	font-weight: 600;
	font-size: 16px;
	cursor: pointer;
}

.horizontal {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-left: 50px;
	margin-right: 50px;
}
